@font-face {
    font-family: "Merienda";
    src: url(../fonts/Merienda-Regular.ttf);
}

* 
{
    margin: 0;
    padding: 0;
}

body 
{
    overflow: hidden;
    font-family: monospace;
    background: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
    height: 100vh;
    line-height: 1.6;
    padding: 5px;
    font-size: 20px;
    letter-spacing: .08em;
}

.green
{
    color: green;
    font-weight: bold;
}

.white
{
    color: whitesmoke;
}

.blue
{
    color: aqua;
}

.typing
{
    display: inline-block;
    white-space: nowrap;
    margin: 0 auto;
    border-right: .15em solid orange;
    animation:
        cursor-blink .75s step-end infinite;
}

@keyframes typing-animation {
    from {
        width: 0%
    }
    to {
        width: 100% 
    }
}

@keyframes cursor-blink {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: orange;
    }
}

.ls
{
    margin: 0 0 0 4em;
}

.ls td
{
    padding: 0 1em;
    border: .05em solid transparent;
}

.ls td:hover
{
    border: .05em solid whitesmoke;
}